/* #region Resets region */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Increase line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}
/*#endregion*/

:root {
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral-0: hsl(0, 0%, 100%);

    --orange-500: hsl(28, 100%, 52%);
    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);
}

@font-face {
    font-family: "dm-sans";
    src: url(./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

body {
    background-color: var(--neutral-900);
    font-family: "dm-sans";
}

.outer_wrapper {
    color: white;
    height: 100vh;
    max-width: 1440px;
    margin: 4rem auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.wrapper {
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .item {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
        border-radius: 15px;
        background-color: var(--neutral-800);
        border: 1px solid var(--neutral-600);
    }

    main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;

        .left {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column: span 4;

            gap: clamp(0.5rem, 1.5rem, 3rem);

            .main-info-wrapper {
                grid-column: span 4;
                grid-row: span 3;
                background-image: url(./assets/images/bg-today-large.svg);
                background-repeat: no-repeat;
                /* width: 100%; */
                background-size: contain;
                padding: 1rem;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                aspect-ratio: 22/8;

                .icon.temp.now img {
                    width: 48px;
                    height: 48px;
                }
            }
            .additional-info-wrapper {
                display: grid;
                grid-template-columns: subgrid;
                grid-column: span 4;
            }
            .forecast-wrapper {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-column: span 4;
                gap: 1rem;

                .subtitle {
                    text-align: center;
                }

                .info.bottom {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .right {
            grid-column: span 2;

            .hourly-forecast-wrapper {
                display: grid;
                grid-template-rows: repeat(auto-fit, minmax(min(320px), 1fr));
            }

            .days {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
